
.front-page {
    background-color: rgb(61, 5, 92);
    color: white;
    padding: 6em 10em;
}
.sticky-header{
    background: rgb(239, 239, 239);
    color: black;
    font-size:30px;
    padding: 0.5em;
    
}
.front-page-header{
    background:rgb(62, 6, 92);
    color: white;
    padding: 2em 8em;
}
p{
    padding: 0% 0% 5% 0%;
    font-size: 24px !important;
}
h1{
    font-size:60px !important;
    padding: 5%
}
.readmore{
    background: rgb(90, 200, 255);
    border: none;
    color: white;
    padding: 10px 10px;
    
    font-size: 24px;
    border-radius: 20px;
}
.laptop-img {
    margin: 40px;
}
.nicepage-button {
    border: none;
    padding: 0px;
}
.logo-button {
    border:none;
    padding: 0px;
}