.frontPage {
    color: white;
    background: rgb(64, 0, 90);
    
}
.header0{
    background: white;
    color: black;
    padding: 20px;
}
.header1{
    padding: 0px 4%;
}
.mainText{
    padding: 5%;
}

p{
    padding: 0% 0% 5% 0%;
    font-size: 20px !important;
}
h1{
    font-size:50px !important;
    padding: 5%
}
.readmore{
    background: rgb(90, 200, 255);
    border: none;
    color: white;
    padding: 10px 40px;
    
    font-size: 14px;
    border-radius: 20px;
}